<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tistory.jeongs0222.kagongapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
            android:name=".Application"
            android:allowBackup="false"
            android:icon="@mipmap/ic_icon_s"
            android:label="@string/appNameK"
            android:roundIcon="@mipmap/ic_icon_c"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.appintroduce.AppIntroduceActivity"/>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.inareement.InAgreementActivity"/>
        <activity android:name=".ui.register.RegisterActivity"/>
        <!--<activity android:name=".ui.main.MainActivity"/>-->
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                      android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.areadetail.AreaDetailActivity"/>
        <activity
                android:name=".ui.areadetailtab.AreaDetailTabActivity"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ui.addschedule.AddScheduleActivity"/>
        <activity android:name=".ui.adddetailschedule.AddDetailScheduleActivity"/>
        <activity android:name=".ui.addlocation.AddLocationActivity"/>
        <activity android:name=".ui.accompanywrite.AccompanyWriteActivity"/>
        <activity android:name=".ui.notice.NoticeActivity"/>
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.setting.SettingActivity"/>
        <activity android:name=".ui.termsofuse.PrivacyPolicyActivity"/>
        <activity android:name=".ui.howToUse.HowToUseActivity"/>
        <activity android:name=".ui.written.WrittenActivity"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.tistory.jeongs0222.kagongapplication.provider"
                android:exported="false"
                android:grantUriPermissions="true">

                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="@string/kakao_app_key" />
        <activity
                android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>